table(width=max_w align="center" class="deviceWidth mobile-table")&attributes(tableAtt)
  tr
    td
      table(align="center" width="100%" style="background-color: #ffffff;" bgcolor=white)&attributes(tableAtt)
        +vSpacer(50)
        tr
          td(align="center" class="f_bold" style="font-size: 20px;line-height:20px;") Assumptions
        +vSpacer(20)
        tr
          td
            table(align="center" width="100%")&attributes(tableAtt)
              tr
                +hSpacer(15)
                td
                  table&attributes(tableAtt)
                    +vSpacer(15)
                    tr
                      td
                        table&attributes(tableAtt)
                          tr
                            td(class="f_bold") General
                          +vSpacer(15)
                          tr
                            td
                              table&attributes(tableAtt)
                                tr
                                  +bullet("top","•")
                                  +hSpacer(4)
                                  td(style="font-size: 13px; line-height: 13px; color: #333333;")
                                    font This is a ballpark estimate. To get a more precise estimation please reach the development team.
                          +vSpacer(10)
                          tr
                            td
                              table&attributes(tableAtt)
                                tr
                                  +bullet("top","•")
                                  +hSpacer(4)
                                  td(style="font-size: 13px; line-height: 13px; color: #333333;")
                                    font The file size limit is not taken into account on this estimate. Please work with the Ad Network to get the banner specifics before starting with the design. Keep the file size limit in mind while working on the designs look and feel. The file size limit is usually around 100KB for non expandable banners.
                          +vSpacer(10)
                          tr
                            td
                              table&attributes(tableAtt)
                                tr
                                  +bullet("top","•")
                                  +hSpacer(4)
                                  td(style="font-size: 13px; line-height: 13px; color: #333333;")
                                    font Animation time limit of 15s. Please keep in this mind when defining the number of frames the banner will have.
                          +vSpacer(10)
                          tr
                            td
                              table&attributes(tableAtt)
                                tr
                                  +bullet("top","•")
                                  +hSpacer(4)
                                  td(style="font-size: 13px; line-height: 13px; color: #333333;")
                                    font All resizes need to be based on the original template (master banner).
                          +vSpacer(10)
                          tr
                            td
                              table&attributes(tableAtt)
                                tr
                                  +bullet("top","•")
                                  +hSpacer(4)
                                  td(style="font-size: 13px; line-height: 13px; color: #333333;")
                                    font Estimation includes uploading the banners to DC.
                          +vSpacer(10)
                          tr
                            td
                              table&attributes(tableAtt)
                                tr
                                  +bullet("top","•")
                                  +hSpacer(4)
                                  td(style="font-size: 13px; line-height: 13px; color: #333333;")
                                    font If the distribution will be done on an Ad network different from DC, the development team will require ramp up time.
                          +vSpacer(10)
                          tr
                            td
                              table&attributes(tableAtt)
                                tr
                                  +bullet("top","•")
                                  +hSpacer(4)
                                  td(style="font-size: 13px; line-height: 13px; color: #333333;")
                                    font The agency Tech Lead needs to review all comps before initial client submission.
                          +vSpacer(10)
                          tr
                            td
                              table&attributes(tableAtt)
                                tr
                                  +bullet("top","•")
                                  +hSpacer(4)
                                  td(style="font-size: 13px; line-height: 13px; color: #333333;")
                                    font Banner specifications will need to be provided to the development team.
                          +vSpacer(10)
                          tr
                            td
                              table&attributes(tableAtt)
                                tr
                                  +bullet("top","•")
                                  +hSpacer(4)
                                  td(style="font-size: 13px; line-height: 13px; color: #333333;")
                                    font The development team will assess the feedback from each round of review to confirm it’s within the originally defined scope, and will notify the agency team if they fall outside of that.
                          +vSpacer(10)
                          tr
                            td
                              table&attributes(tableAtt)
                                tr
                                  +bullet("top","•")
                                  +hSpacer(4)
                                  td(style="font-size: 13px; line-height: 13px; color: #333333;")
                                    font Feedback coming out of review is limited to the following types of comments: editorial/copy changes, animation timing adjustments and minor layout adjustments. Larger copy changes to design or functionality will need to be estimated separately.
                          +vSpacer(15)
                          +vSpacer(1)(style="border-bottom: 3px solid #eeeeee;")
                          +vSpacer(15)
                          tr
                            td(class="f_bold") Specific
                          +vSpacer(20)
                          tr
                            td
                              table&attributes(tableAtt)
                                tr
                                  +bullet("top","•")
                                  +hSpacer(4)
                                  td(style="font-size: 13px; line-height: 13px; color: #333333;")
                                    font Estimated banner will be not expandable.
                          +vSpacer(10)
                          tr
                            td
                              table&attributes(tableAtt)
                                tr
                                  +bullet("top","•")
                                  +hSpacer(4)
                                  td(style="font-size: 13px; line-height: 13px; color: #333333;")
                                    font The estimated banner is composed of 6 frames.
                          +vSpacer(10)
                          tr
                            td
                              table&attributes(tableAtt)
                                tr
                                  +bullet("top","•")
                                  +hSpacer(4)
                                  td(style="font-size: 13px; line-height: 13px; color: #333333;")
                                    font The banner will have simple animations.
                          +vSpacer(10)
                          tr
                            td
                              table&attributes(tableAtt)
                                tr
                                  +bullet("top","•")
                                  +hSpacer(4)
                                  td(style="font-size: 13px; line-height: 13px; color: #333333;")
                                    font The estimated banner will not have video.
                          +vSpacer(10)
                          tr
                            td
                              table&attributes(tableAtt)
                                tr
                                  +bullet("top","•")
                                  +hSpacer(4)
                                  td(style="font-size: 13px; line-height: 13px; color: #333333;")
                                    font The banner will not have complex interactions.
                          +vSpacer(10)
                          tr
                            td
                              table&attributes(tableAtt)
                                tr
                                  +bullet("top","•")
                                  +hSpacer(4)
                                  td(style="font-size: 13px; line-height: 13px; color: #333333;")
                                    font The estimated banner will be built to be distributed by the following Ad Network: None.
                          +vSpacer(10)
                          tr
                            td
                              table&attributes(tableAtt)
                                tr
                                  +bullet("top","•")
                                  +hSpacer(4)
                                  td(style="font-size: 13px; line-height: 13px; color: #333333;")
                                    font Will have 1 numbers of resizes for a total of 2 banners.
                          +vSpacer(10)
                          tr
                            td
                              table&attributes(tableAtt)
                                tr
                                  +bullet("top","•")
                                  +hSpacer(4)
                                  td(style="font-size: 13px; line-height: 13px; color: #333333;")
                                    font This estimation includes 2 of rounds of review.
                          +vSpacer(10)
                    +vSpacer(15)
                +hSpacer(15)
