table(width=max_w align="center" class="deviceWidth mobile-table" style="background-color:"+blue+";" bgcolor=blue)&attributes(tableAtt)
  tr
    +hSpacer(30)
    td
      table(width="100%")&attributes(tableAtt)
        +vSpacer(35)
        tr
          td(align="center")
            table(align="center" width="100%" bgcolor=white style="background-color:"+white+";border-radius:10px;")&attributes(tableAtt)
              +vSpacer(20)
              tr
                td
                  table(align="center" width="100%")&attributes(tableAtt)
                    tr
                      +hSpacer(20)
                      td
                        table(align="center" width="100%")&attributes(tableAtt)
                          tr
                            td(align="center" class="f_bold" style="font-size: 21px; line-height: 21px; color: #333333; margin: 0;")
                              font Project name
                          +vSpacer(30)
                          tr
                            td(align="center" class="f_normal" style=`font-family: ${fallback}; font-size: 16px; line-height: 24px;`)
                              table(align="center" width="100%")&attributes(tableAtt)
                                tr
                                  td(width="48%" align="center" style="border-bottom: 3px solid #eeeeee;")
                                    table(width="100")&attributes(tableAtt)
                                      +vSpacer(15)
                                      tr
                                        td(align="center")  Department
                                      +vSpacer(15)
                                  +hSpacer(20)
                                  td(width="48%" align="center" style="border-bottom: 3px solid #eeeeee;")
                                    table(width="100%")&attributes(tableAtt)
                                      +vSpacer(15)
                                      tr
                                        td(align="center")  Hours
                                      +vSpacer(15)
                          tr
                            td(align="center")
                              table(align="center" width="100%")&attributes(tableAtt)
                                +vSpacer(15)
                                tr
                                  td
                                    table&attributes(tableAtt)
                                      tr
                                        td(width="48%")
                                          font Development Effort
                                        +hSpacer(20)
                                        td(width="48%" align="center")
                                          font 25
                                +vSpacer(15)
                          tr
                            td(align="center")
                              table(align="center" width="100%")&attributes(tableAtt)
                                +vSpacer(15)
                                tr
                                  td
                                    table&attributes(tableAtt)
                                      tr
                                        td(width="48%")
                                          font Meetings and Standups
                                        +hSpacer(20)
                                        td(width="48%" align="center")
                                          font 1
                                +vSpacer(15)
                          tr
                            td(align="center")
                              table(align="center" width="100%")&attributes(tableAtt)
                                +vSpacer(15)
                                tr
                                  td
                                    table&attributes(tableAtt)
                                      tr
                                        td(width="48%")
                                          font Tech Leadership
                                        +hSpacer(20)
                                        td(width="48%" align="center")
                                          font 6
                                +vSpacer(15)
                          tr
                            td(align="center")
                              table(align="center" width="100%")&attributes(tableAtt)
                                +vSpacer(15)
                                tr
                                  td
                                    table&attributes(tableAtt)
                                      tr
                                        td(width="48%")
                                          font Bug Fixing
                                        +hSpacer(20)
                                        td(width="48%" align="center")
                                          font 6
                                +vSpacer(15)
                          tr
                            td(align="center")
                              table(align="center" width="100%")&attributes(tableAtt)
                                +vSpacer(15)
                                tr
                                  td
                                    table&attributes(tableAtt)
                                      tr
                                        td(width="48%")
                                          font Development Total
                                        +hSpacer(20)
                                        td(width="48%" align="center")
                                          font 34
                                +vSpacer(15)
                          tr
                            td(align="center")
                              table(align="center" width="100%")&attributes(tableAtt)
                                +vSpacer(15)
                                tr
                                  td
                                    table&attributes(tableAtt)
                                      tr
                                        td(width="48%")
                                          font Quality Assurance
                                        +hSpacer(20)
                                        td(width="48%" align="center")
                                          font 5
                                +vSpacer(15)
                          tr
                            td(align="center")
                              table(align="center" width="100%")&attributes(tableAtt)
                                +vSpacer(15)
                                tr
                                  td
                                    table&attributes(tableAtt)
                                      tr
                                        td(width="48%")
                                          font Project Management
                                        +hSpacer(20)
                                        td(width="48%" align="center")
                                          font 4
                                +vSpacer(15)
                          tr
                            td(align="center" style="border-top: 3px solid #eeeeee;")
                              table(align="center" width="100%")&attributes(tableAtt)
                                +vSpacer(15)
                                tr
                                  td
                                    table&attributes(tableAtt)
                                      tr
                                        td(width="48%")
                                          font(class="f_bold") Sub Total
                                        +hSpacer(20)
                                        td(width="48%" align="center")
                                          font(class="f_bold") 42
                                +vSpacer(15)
                          tr
                            td(align="center")
                              table(align="center" width="100%")&attributes(tableAtt)
                                +vSpacer(15)
                                tr
                                  td
                                    table&attributes(tableAtt)
                                      tr
                                        td(width="48%")
                                          font Rounds of Reviews
                                        +hSpacer(20)
                                        td(width="48%" align="center")
                                          font 10
                                +vSpacer(15)
                          tr
                            td(align="center" style="border-top: 3px solid #000000;")
                              table(align="center" width="100%")&attributes(tableAtt)
                                +vSpacer(15)
                                tr
                                  td
                                    table&attributes(tableAtt)
                                      tr
                                        td(width="48%")
                                          font(class="f_bold") Grand Total
                                        +hSpacer(20)
                                        td(width="48%" align="center")
                                          font(class="f_bold") 52
                                +vSpacer(15)
                      +hSpacer(20)
              +vSpacer(20)
        +vSpacer(35)
    +hSpacer(30)
