table(width=max_w align="center" class="deviceWidth mobile-table")&attributes(tableAtt)
  tr
    td(align="center" style="background-color:"+blue+";" bgcolor=blue)
      table(align="center" width="100%")&attributes(tableAtt)
        +vSpacer(25)
        tr
          td(align="center")
            font(color="#ffffff" style="font-size:13px;")  © 2018 Omnicom Health Group Inc. All rights reserved.
        +vSpacer(25)
